.bg-image{
    background-image: url(images/banner.png);
    background-size: cover;
    min-height:65vh;
    background-repeat: no-repeat;
}
/* custom negative margin  */
.ms-n5{
    margin-left: -10px;
}
